/* == Fake toc block == */
.path-mod-book .book_toc .action-list img.smallicon {
    margin: 0 3px;
}

/* toc style INDENTED*/
.path-mod-book .book_toc ul {
    display: flex;
    flex-direction: column;
}
.path-mod-book .book_toc li {
    flex: 1 1 100%;
}

/* TDO fix highlighting of subchapters */
.path-mod-book .book_toc_main li:hover {
    background-color: yellow;
}

.path-mod-book .book_toc_indented > ul {
margin-left: 0;
padding-left: 0;
}

.path-mod-book .book_toc_indented li {
list-style: none;
}

/* toc style BULLETED*/
.path-mod-book .book_toc_bullets > ul {
    margin-left: 0;
    padding-left: 1.3rem;
}
.path-mod-book .book_toc_bullets li {
    list-style: disc;
}

/* toc style NUMBERED*/
.path-mod-book .book_toc_numbered > ul {
    margin-left: 0;
    padding-left: 0;
}

.path-mod-book .book_toc_numbered li {
    list-style: none;
}

.path-mod-book .book_toc_numbered ul ul {
    padding-inline-start: 1em;
}

/* toc style NONE*/
.path-mod-book .book_toc_none ul {
    margin-left: 0;
    padding-left: 0;
}

.path-mod-book .book_toc_none li {
    list-style: none;
}

.path-mod-book .book_content {
    margin: 0 5px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative; /* Chapter navigation should not float on top of content. */
}

@media (max-width: 768px) {
    .path-mod-book .book_content {
        margin-left: -5px;
        margin-right: -5px;
    }
}

#page-mod-book-view .viewtoconly {
    margin-bottom: 2em;
}

#page-mod-book-view .mod_book_print_header {
    display: none;
}

/* make as much room as possible for the book chapter.*/
#page-mod-book-view.mod_book_view_chapter #page-header {
    display: none;
}
#page-mod-book-view.mod_book_view_chapter .secondary-navigation {
    display: none;
}
#page-mod-book-view.mod_book_view_chapter #page.drawers {
    margin-top: 1.2em;
}

@media print {
    #page-mod-book-view .mod_book_print_header {
        display: block !important;
        padding-bottom: 1em;
    }
    #page-mod-book-view .footer-content-debugging {
        display: none !important;
    }

    #page-mod-book-view .book_content .col-3 {
        display: none;
    }

    #page-mod-book-view .book_content .col-9 {
        width: 100%;
    }

    #page-mod-book-view.mod_book_view_all h2,
    #page-mod-book-view.mod_book_view_all h3 {
        page-break-before: always;
    }
}